@font-face {
  font-family: 'MuseoSans';
  src: local('MuseoSans'), url(./fonts/MuseoSans.otf) format('truetype');
}

html, #root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #F5F2ED;
  height: 100%;
}